services:
  zapret-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zapret-proxy
    privileged: true  # Требуется для работы iptables
    # network_mode: "host"  # Используем host-сеть для управления трафиком
    tmpfs:
      - /run
      - /run/lock
    stdin_open: true
    tty: true  # Для запуска systemd
    ports:
      - "3128:3128"
    volumes:
      - ./configuration:/configuration
      - ./squid:/squid
